.Card{
    background-color: white;
    margin: 0 auto;
    width: 85%;
    min-height: 900px;
    border-radius: 30px;
    box-shadow: 0 15px 35px -1px black;

}

.header{
    font-family: 'Open Sans', sans-serif;
    font-size: 64px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}

.cardBody{
    display: flex;
    justify-content: center;
}


.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;

}
