.linkItem{
    margin: auto;
    font-size: 28px;
}

.linkItem:hover{
    opacity: 0.5;
}

.surveyImage{
    float: right;
    width: 300px;
}

.surveyText{
    font-size: 20px;
    margin-right: 30px;
}

.ant-card { margin-bottom: 30px; }